{% extends 'basemaster/masterstyle.html' %}
{% block contententry %}
{% load staticfiles %}
<h1>BE ACTIVE<span> with the Ansible Tower Plus</span></h1>
		
			<p>ANSIBLE TOWER IS THE BEST WAY TO RUN ANSIBLE IN YOUR ORGANIZATION. Centralize and control your Ansible infrastructure with a visual dashboard, role-based access control, job scheduling, and graphical inventory management. Tower's REST API and CLI make it easy to embed Tower into existing tools and processes.</p>
			
			<a href="#"><span>+</span> More</a>
{% endblock %}
        
    
    
