{% extends 'basemaster/masterstyle.html' %}
{% block contententry %}
{% load staticfiles %}
<h1>BE ACTIVE<span> with the Ansible Tower Plus</span></h1>
		
			<p>ANSIBLE TOWER IS THE BEST WAY TO RUN ANSIBLE IN YOUR ORGANIZATION. Centralize and control your Ansible infrastructure with a visual dashboard, role-based access control, job scheduling, and graphical inventory management. Tower's REST API and CLI make it easy to embed Tower into existing tools and processes.</p>
			Ansible Tower
<p>Ansible Tower (formerly ‘AWX’) is a web-based solution that makes Ansible even more easy to use for IT teams of all kinds. It’s designed to be the hub for all of your automation tasks.</p>

<p>Tower allows you to control access to who can access what, even allowing sharing of SSH credentials without someone being able to transfer those credentials. Inventory can be graphically managed or synced with a wide variety of cloud sources. It logs all of your jobs, integrates well with LDAP, and has an amazing browsable REST API. Command line tools are available for easy integration with Jenkins as well. Provisioning callbacks provide great support for autoscaling topologies.</p>

<p>Find out more about Tower features and how to download it on the Ansible Tower webpage. Tower is free for usage for up to 10 nodes, and comes bundled with amazing support from Ansible, Inc. As you would expect, Tower is installed using Ansible playbooks!</p>
			<a href="#"><span>+</span> More</a>
{% endblock %}
        
    
    
